/* Container do formulário */
#cadastro {
  margin-bottom: 20px;
}

#cadastro input {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 8px;
  border: 1px solid #ccc;
  font-size: 0.9em;
  transition: 0.3s;
}

#cadastro input:focus {
  border-color: #2575fc;
  outline: none;
  box-shadow: 0 0 5px rgba(37, 117, 252, 0.5);
}

#cadastro button {
  width: 100%;
  padding: 10px;
  background: linear-gradient(135deg, #6a11cb, #2575fc);
  color: #fff;
}

#cadastro button:hover {
  background: linear-gradient(135deg, #2575fc, #6a11cb);
}

#msgCadastro {
  margin-top: 8px;
  color: red;
}
